<div class="year-header">
  <div class="year-text cursor-pointer" (click)="toggleYearList($event)">
    <span>{{ displayedYear }}</span>
    <button mat-button>
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  @if (showMonthList) {
  <div class="year-nav">
    <button mat-button (click)="decrement($event)" [disabled]="isPreviousButtonDisabled()">
      <mat-icon svgIcon="arrow-simple-left"></mat-icon>
    </button>
    <button mat-button (click)="increment($event)" [disabled]="isNextButtonDisabled()">
      <mat-icon svgIcon="arrow-simple-right"></mat-icon>
    </button>
  </div>
  }
</div>
<mat-divider class="width-100"></mat-divider>
@if (showMonthList) {
  <div class="months-container">
    @for (month of months; track $index){
    <button
      mat-button
      [disabled]="isMonthButtonDisabled($index)"
      [class.activeMonth]="isActiveMonth($index)"
      [class.selected]="isSelectedMonth($index)"
      (click)="selectMonth($index)"
      class="calendar-element-font"
    >
      {{ month }}
      @if (getNotificationNumber($index, displayedYear).length > 0){
      <span class="alert-badge">
        {{ getNotificationNumber($index, displayedYear) }}
      </span>
      }
    </button>
    }
  </div>
} @else {
  <div class="year-container">
    @for (year of yearList; track $index){
    <button
      mat-button
      class="calendar-element-font"
      [class.selected]="isYearSelected(year)"
      [disabled]="isYearButtonDisabled(year)"
      (click)="selectYear($event, year)"
    >
      {{ year }}
    </button>
    }
  </div>
}
